<html>
<head>
	<script>
function validate(){
	if (document.myform.pword.value == 'tumor'){
		var url = 'https://graph.facebook.com/oauth/authorize?client_id='
			+ '<%= fb.appId %>&redirect_uri='
			+ encodeURIComponent('<%= fb.redirect_uri %>')
			+ '&scope=<%= fb.scope %>';
			top.location.href = url;
	}
}
</script>
</head>
<body>

<div name='pw' class='pw' id='pw'>
<form name = "myform" action='http://c.apa.dev.mirerca.com/authenticate' method='post'>
<input type="password" name="pword">
<input type="button" value="Submit" name="Submit">
</p>
</div>

</body>
</html>