<div id="fb-root"></div>

<script>
	FB.init({ appId  : '<%= appId %>', status : true, cookie : true, xfbml  : true });
	
	FB.getLoginStatus(function(response) {
	  if (response.session) {
	    // logged in and connected user, someone you know
		$('#game_container').show();
	  } else {
		var url = 'https://graph.facebook.com/oauth/authorize?client_id='
			+ '<%= appId %>&redirect_uri='
			+ encodeURIComponent('<%= redirect_uri %>')+'&scope=<%= scope %>';
		top.location.href = url;
	  }
	});
	FB.Canvas.setSize({ width: 744, height: 555 });
</script>

<div id="game"></div>

<div class="clear">
</div>


<!--
<div class="area" style="display: none;">
	<div class="images">
		<img src="images/image.png" />
	</div>
	<canvas class="game" width="668" height="587"></canvas>
	<a href="#" class="clear">CLEAR</a>
</div>
-->