<div id="fb-root"></div>
	<script>
		FB.init({ appId  : '<%= appId %>', status : true, cookie : true, xfbml  : true });
		var url = 'https://graph.facebook.com/oauth/authorize?client_id='
				+ '<%= appId %>&redirect_uri='
				+ encodeURIComponent('<%= redirect_uri %>')+'&scope=<%= scope %>';
		top.location.href = url;
	</script>
	
	<div class="area">
		<div class="images">
			<img src="images/image.png" />
		</div>
		<canvas class="game" width="668" height="587"></canvas>
		<a href="#" class="clear">CLEAR</a>
	</div>
</div>
