<div id="fb-root"></div>

<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId: '<%= fb.appId %>',
			status: true, // check login status
			xfbml: false // parse XFBML
		});
		FB.Canvas.setAutoResize();
	};

	(function() {
		var e = document.createElement('script');
		e.async = true;
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
	var AUTH_TOKEN = "<%= token %>";
</script>

<div id="game"></div>
<!-- debug info -->
<span class="grey_gradient_text" style="position: absolute; top: 10px; right: 24px; font-size: 21px; text-align: center;">v0.20</span>
<div class="clear">
</div>

