<html>
	<head id='APMHead'>
		<title>Anatomy Pro-Am</title>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<script src="/browserify.js"></script>
		<script src="/dnode.js"></script> 

		
		<!--<script src="javascripts/lib/slider.js"></script> -->
		
		<script src="javascripts/lib/zepto.js"></script>
		<script src="javascripts/lib/mustache.js"></script>
		<script src="javascripts/lib/json2.js"></script>
		<script src="javascripts/init.js"></script>
		<script src="javascripts/drawing.js"></script>
		<script src="javascripts/cases.js"></script>
		<script src="javascripts/friendbar.js"></script>
		<script src="javascripts/app.js"></script>
		<script src='javascripts/admin.js'></script>
        <script src="http://connect.facebook.net/en_US/all.js"></script>

		<script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
		<script src="http://yui.yahooapis.com/2.9.0/build/dragdrop/dragdrop-min.js"></script>

		<!-- Slider skin (optional) --> 
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/slider/assets/skins/sam/slider.css">

		<!-- Slider source file --> 
		<script src="http://yui.yahooapis.com/2.9.0/build/slider/slider-min.js"></script>

		<link type="text/css" rel="stylesheet" href="stylesheets/main.css" >
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

		
	</head>
	<body>
		
	  <!--[if IE]>
		<div id='prompt' class='generic' style="margin: 40px 20px 20px 20px;text-align:center;">
			
			Anatomy Pro-Am uses state of the art web technologies which are not supported by older web browsers.
			We suggest using Google Chrome Frame to allow your existing browser to be compatible with our software.
			
		</div>
		  <![endif]-->
		<%- body %>
	</body>
</html>