<html>
	<head>
		<title>Anatomy Pro-Am</title>
		<script src="/browserify.js"></script>
		<script src="/dnode.js"></script> 
		<script src="javascripts/lib/zepto.js"></script>
		<script src="javascripts/lib/mustache.js"></script>
		<script src="javascripts/lib/json2.js"></script>
		<script src="javascripts/lib/stats.js"></script>
		<script src="javascripts/client.js"></script>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
		<link type="text/css" rel="stylesheet" href="stylesheets/main.css" >
	</head>
	<body>
		<%- body %>
	</body>
</html>