<html>
	<head id='APMHead'>
		<title>Anatomy Pro-Am</title>
		<script src="/browserify.js"></script>
		<script src="/dnode.js"></script> 
		
		<script src="javascripts/lib/zepto.js"></script>
		<script src="javascripts/lib/mustache.js"></script>
		<script src="javascripts/lib/json2.js"></script>
		<script src="javascripts/init.js"></script>
		<script src="javascripts/drawing.js"></script>
		<script src="javascripts/cases.js"></script>
		<script src="javascripts/friendbar.js"></script>
		<script src="javascripts/app.js"></script>
		<script src='javascripts/admin.js'></script>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
		<link type="text/css" rel="stylesheet" href="stylesheets/main.css" >
	</head>
	<body>
		<%- body %>
	</body>
</html>